@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

:root {
    --primary: black;
}

a{
    text-decoration: none;
    color: black;
}

.bold {
    font-weight: 600;
}

body {
    overflow: hidden;
}
/* Nav Bar */
nav {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 30;
}

.nav__container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 7vh;
    padding: 0 20px;
    font-size: 18px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
}

.nav__left {
    display: flex;
    gap: 20px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo__image {
    font-size: 40px
}

.nav__logo__text {
    font-size: 30px;
    font-family: Dancing Script, cursive;
}
.nav__links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav__link:hover {
    box-shadow: 0px 1px 0px 0px black;
    font-weight: 700;
}
.nav__right {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

/* Nav Search */
.nav__search__input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    display: none;
    transition: 500ms ease;
}
.nav__search.open .nav__search__input {
    display: block;
}

.nav__search {
    transform: translateX(90%);
    padding: 2px;
    display: flex;
    align-items: center;
    display: flex;
    border-radius: 100px;
    transition: 500ms ease;
}
.nav__search.open {
    border: 1px solid black;
    transform: translateX(0%)
}

.nav__search__icon {
    cursor: pointer;
}

.nav__right__settings:hover {
    cursor: not-allowed;
}

.nav__search__icon:hover {
    scale: 0.9
}

/* Header */
header {
    height: 100vh;
    transition: 2000ms ease;
    background-image: url(assets/background-image.jpg);
    background-size: contain;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2)
}
header.up {
    transition: 0;
}

.header__container {
    width: 100%;
    height: 100%;
}
.header__row {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
    gap: 10px;
}

.row__perimeter {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    height: 50%;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2)
}

.header__title {
    font-size: 50px;
}

.header__title span {
    font-family: Dancing Script, cursive;
}

.header__para {
    font-size: 18px;
    text-align: center;
}

.header__search {
    border: 1px solid black;
    display: flex;
    gap: 20px;
    align-items: center;
    height: 60px;
    border-radius: 100px;
    padding: 0 15px;
    margin: 20px 0;
}

.header__search__input {
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 18px;
}

.header__search:focus-within {
    border: 3px solid black;
    scale: 1.03
} 


.header__search__icon {
    font-size: 20px;
}

.header__search__icon:hover {
    scale: 0.9
}

.header__search__button {
    background: transparent;
    border: none;
    cursor: pointer;
}
/* Main */
main {
    background-color: rgba(0, 0, 0, 0.8);
    height: auto;
    color: white;
    min-height: 60vh;
}

.main__row {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 40px
}
.search__results {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.result {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
    height: 90%;
    gap: 10px;
    background-color:rgba(0, 0, 0, 0.7);
    padding: 10px 10px;
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.result__image__wrapper {
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.result__image__wrapper:hover .result__image  {
    filter:brightness(60%) blur(8px);
    scale: 1.5
}
.result__image__wrapper:hover .result__image__info {
    display: flex;
}

.result__image__info {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
}

.result__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
    filter:brightness(90%);
}

.result__price {
    align-self: center;
    font-size: 25px;
}

.result__buy {
    border: none;
    background-color: rgba(102, 211, 6, 0.7);
    border-radius: 4px;
    height: 50px;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

/* Loading State */

.spinner {
    font-size: 100px;
    margin: 0 auto;
    animation: spin 1000ms infinite;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

/* Error State */

.error {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.error__title {
    font-size: 30px;
    font-weight: 700;
    color: red;
    text-decoration: underline;
    margin-bottom: 10px;
}
.error__para {
    font-size: 20px;
    width: 75%;
}

@media (max-width: 780px) {
    .result {
        width: 45%;
    }
}

@media (max-width: 630px) {
    .nav__logo {
        display: none;
    }

    .nav__container {
        border-radius: 0px;
        box-shadow: none;
    }

    .header__para {
        font-size: 17px;
    }
}

@media (max-width: 480px) {
    .nav__links {
        font-size: 15px;
    }
    .nav__right {
        font-size: 15px;
        gap: 20px;
    }
    .nav__search__input {
        font-size: 10px;
    }
    .header__search__input {
        font-size: 15px;
        padding: 10px 5px;
    }
    .header__search__icon {
        font-size: 15px;
    }
    .search__results {
        flex-direction: column;
        align-items: center;
    }
    .result {
        width: 90%
    }
    .main__row {
        align-items: center;
        text-align: center;
    }
    .error__para,
    .error__title {
        font-size: 80%;
    }
}

@media (max-width: 350px) {
    .header__title {
        font-size: 30px;
    }
    .header__para {
        font-size: 13px;
    }
    .header__search {
        width: 80%
    }
    .header__search__input {
        font-size: 12px;
        padding: 0;
    }
    
}
